VITE_FIREBASE_API_KEY=AIzaSyAqsdBym2UNqfqS9jQSdCETQaIvVbk4JIc
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dijital-akademi-v2
VITE_FIREBASE_STORAGE_BUCKET=dijital-akademi-v2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=325310193895
VITE_FIREBASE_APP_ID=1:325310193895:web:be3f8b4353c7fa38140242